.nav-item {
  margin-top: 0px;
}
.edit-container {
  color: steelblue;
  width: 90vw;
  height: 120vw;
  margin: 10rem auto;
  display: flex;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #bbb, -2px -2px 10px #bbb, 2px -2px 10px #bbb, -2px 2px 10px #bbb;
}
