/* ========================= Global ============================= */
body {
  color: ghostwhite;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0)), url("https://wallpapercave.com/wp/wp2623648.jpg");
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

img {
  box-shadow: 0 8px 8px 0 rgba(255, 255, 255, 0.3), 5px 8px 8px 5px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
a {
  font-size: 18px;
}
.lead {
  color: grey;
}
.navbar {
  margin: 10px;
  /* border-radius: 5px; */
}
.linkedin {

}


.dropdown-toggle {
  margin-top: -25px;
}
.container-fluid {
  border-radius: 5px;
  padding: 10px;
  background-color: #0d6efd45;
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.3), 5px 12px 40px 5px rgba(255, 255, 255, 0.2);
}

/* ================= Global Button ==================== */
.buttons {
  display: block;
  text-align: center;
}
.btn-outline-secondary {
  color: #06946a;
  border-color: #06946a;
}
.btn-outline-secondary:hover {
  background-color: #06946a;
}
.a-button {
  text-decoration: none;
  color: #06946a;
}
.a-button:hover {
  color: ghostwhite;
}
/* MARKETING CONTENT
-------------------------------------------------- */
.marketing .col-lg-4 p {
  margin-right: 1rem;
  margin-left: 1rem;
}
.bd-placeholder-img {
  margin-top: 6rem;
}
.tables{
  border-radius: 5px;
}
.col-md-7 {
  padding: 30px;
}
#linkedin {
  margin: 0 0 0 20px;;
}
.btn-secondary {
  color: ghostwhite;
  font-size: 20px;
  line-height: 10px;
  padding: 18px;
  border-radius: 10px;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background: black;
  background-image: radial-gradient(at center center, rgb(94, 94, 94) 0%, rgb(27, 27, 27) 49%, rgb(0, 0, 0) 100%);
  display: inline-block;
}
.btn-secondary:hover {
  background-image: radial-gradient(at center center, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 49%, rgb(20, 78, 117) 100%);
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.3), 5px 12px 40px 5px rgba(255, 255, 255, 0.2);
}
.btn-secondary:active {
  background: black;
  background-image: radial-gradient(at center center, rgb(94, 94, 94) 0%, rgb(27, 27, 27) 49%, rgb(0, 0, 0) 100%);
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.3), 5px 12px 40px 5px rgba(255, 255, 255, 0.2);
  transform: translateY(4px);
}
.logOut {
  text-decoration: none;
  color: lightgrey;
  background-color: rgba(0,0,0,0);
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.logOut:hover {
  color: #96969696;
}

.icon {
  box-shadow: rgba(0, 0, 0, 0);
  border-radius: 50px;

}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 7rem;
  border: 10px solid #0d6efd45;
}
.featurette {
  border: none;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}
.featurette-image {
  box-shadow: 0 8px 8px 0 rgba(255, 255, 255, 0.3), 5px 8px 8px 5px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

/* =============flip box action ===============*/
.flip-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
  margin: 8rem auto;
  direction: row;
  width: 300px;
  height: 300px;
}

.flip-box {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
  border-radius: 10px;
}

.flip-box-back {
  background-image: linear-gradient(#ca4a2d, #ec9d33);
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.3), 5px 12px 40px 5px rgba(255, 255, 255, 0.2);
  color: ghostwhite;
  transform: rotateY(180deg);
  border-radius: 10px;
  border-radius: 10px;
}
footer {
  color: grey;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 765px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: .5rem;
    font-size: .5rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
  .flip-box-back {
    width: 400px;
    height: 400px;
  }
  img {
    width: 400px;
    height: 400px;
  }
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  .flip-box {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
  }
  .flip-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    margin: 15rem auto;
    direction: row;
    width: 400px;
    height: 400px;
  }
}


@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
@media (min-width: 577px) {
  .card-img-top {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 770px) {
  .album {
    margin: 10px;
  }
  .card-img-top {
    margin: 10px;
    width: 200px;
    height: 200px;
  }
  .flip-box {
    width: 400px;
    height: 400px;
  }
  img {
    width: 400px;
    height: 400px;
  }
}
@media (min-width: 1012px) {
  .card-img-top {
    /* margin: 30px; */
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 1397px) {
  .card-img-top {
    /* margin: 30px; */
    width: 350px;
    height: 350px;
  }
}
